<!DOCTYPE html><!--definision de tipo de documento-->
<html lang="en"><!--apertura de la pagina html-->
<head><!--encabesado de la pagina html-->
    <meta charset="UTF-8"><!--codificasion de caracteres espesiales-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--IE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>::.. APP DE LIBROS ..::</title>
</head>

<body><!--contenido de la pagina html-->

<div class="container" id="app">
  <div class="row justify-content-md-center">
    <div classs="col-12 col-md-6">
      <div class="card border-primary" >
        <div class="card-header bg-primary text-white"> BUSCAR LIBROS</div>
        <div class="card-body">
          <form id="frmLibro" @sudmit.prevent="guardarLibro" @reset.prevent="nuevoLibro()">
            <div class="row p-1" >
                <div class="col-3 col-md-2">Autor :</div>
                <div class="col-9 col-md-3">
                  <input class="form-control" type="text" v-model="libro.nombre" name="txtNombreLibro" id="txtNombreLibro">
                </div>
              </div>
            <div class="row p-1" >
              <div class="col-3 col-md-2">idAutor :</div>
              <div class="col-9 col-md-3">
                <input class="form-control" type="text" v-model="libro.idautor" name="txtidAutorLibro" id="txtidAutorLibro">
            </div>
          </div>
          <div class="row p-1" >
            <div class="col-3 col-md-2">Codigo :</div>
            <div class="col-9 col-md-3">
              <input class="form-control" type="text" v-model="Libro.codigo" name="txtCodigoLibro" id="txtCodigoLibro">
          </div>
        </div>
        <div class="row p-1" >
            <div class="col-3 col-md-2">Nonbre :</div>
            <div class="col-9 col-md-3">
              <input class="form-control" type="text" v-model="libro.Nonbre" name="txtNonbreLibri" id="txtNonbreLibro">
          </div>
        </div>
        <div class="row p-1">
            <div class="col-3 col-md-2">Pais:</div>
            <div class="col-9 col-md-6">
              <input class="form-control" type="text" v-model="libro.pais" name="txtPaisLibro" id="txtPaisLibro">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-3 col-md-2">Telefono:</div>
            <div class="col-9 col-md-6">
              <input class="form-control" type="text" v-model="libro.telefono" name="txtTelefonoLibro" id="txtTelefonoLibro">
            </div>
          </div>
           </form>
        </div>
      </div>
    </div>

    <div class="row ">
        <div class="col-12 col-md-10">
          <div class="card text-bg-light" >
            <div class="card-header" >CONSULTA DE Libros</div>
              <div class="card-body">
              <form>
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th>BUSCAR</th>
                      <th colspan="2"><input type="text" @keyup="listarLibros()" class="form-control" 
                        v-model="buscar" placeholder="Buscar por Libro"></th>
                    </tr>
                    <tr>
                      <th>Autor</th>
                      <th>idAutor</th>
                      <th>Codigo</th>
                      <th>Nonbre</th>
                      <th>Pais</th>
                      <th>Telefono</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="libro in libros" @click='modificarAlumno(alumno)' :key="alumno.idAlumno" >
                      <td>{{Libro.Autor}}</td>
                      <td>{{Libro.idAutor}}</td>
                      <td>{{Libro.codigo}}</td>
                      <td>{{Libro.Nonbre}}</td>
                      <td>{{Libro.Pais}}</td>
                      <td>{{Libro.Telefono}}</td>
                      <td><button @click.prevent="eliminarLibro(Libro)" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
  <script>
      const {createApp} = Vue;
      createApp({
        data(){
          return{
            db:'',
            buscar:'',
            Libro:[],
            accion: 'nuevo',
            Libro:{
              autor:'',
              idautor:'',
              codigo:'',
              nonbre:'',
              pais:'',
              telefono:'',
             
            }
          }
        },
        methods:{
          nuevolibro(){
            this.accion = 'nuevo';
            this.libro.autor = '';
            this.libro.idautor = '';
            this.libro.codigo = '';
            this.libro.nonbre = '';
            this.libro.pais = '';
            this.libro.telefono = '';
            
          },
          modificarlibro(libro){
            this.accion = 'modificar';
            this.libro = libro;
            
          },
          guardarlibro(){
            this.listarlibro();
                    if( this.accion==='nuevo' ){
                        this.libro.idlibro = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal
                        this.libro.push( JSON.parse(JSON.stringify(this.libro)) );
                    }else if(this.accion==='modificar'){
                        //hacer la busqueda y modificar el registro
                        let index = this.libro.findIndex(libro=>libro.idlibro==this.libro.idlibro);
                        this.libro[index] = JSON.parse(JSON.stringify(this.libro));
                    }else if(this.accion==='eliminar'){
                        let index = this.libro.findIndex(libro=>libro.idlibro==this.libro.idlibro);
                        this.libro.splice(index, 1);
                    }
                    localStorage.setItem('libro', JSON.stringify(this.libro));
                    this.nuevoAlumno();


            
          },
          eliminarlibro(libro){
            if(confirm(`Esta seguro de eliminar el docente ${libro.nombre}?`)){
              this.accion = "eliminar";
              this.libro = libro;
              this.guardarlibro();
    
            }
          },
          listarlibro(){
            let store = this.abrirStore('tbllibro','readonly'),
                data = store.getAll();
            data.onsuccess = resp=>{
              this.libro = data.result;
            };
          },
          abrirBD(){
            let indexDB = indexedDB.open('db_codigo_estudiante',1);
            indexDB.onupgradeneeded = e=>{
              let req = e.target.result,
                tbllibro = req.createObjectStore('tbllibro',{keyPath: 'idlibro'}),
                idMateria = req.createObjectStore('tblmateria',{keyPath: 'idmateria'});
                
                tbllibro.createIndex('idlibro','idlibro',{unique:true});
                tbllibro.createIndex('codigo','codigo',{unique:true});
            };
            indexDB.onsuccess = e=>{
              this.db = e.target.result;
              this.listarlibro();
            };
            indexDB.onerror = e=>{
              console.error('ERROR al crear, abrir la BD',e);
            };
          },
          abrirStore(store,modo){
            let ltx = this.db.transaction(store,modo);
            return ltx.objectStore(store);
          }
        },
        created(){
          this.abrirBD();
          //this.listarlibro();
        }
      }).mount('#app')
    </script>
      
    </body>
    </html>

